extends layout

block content
  h1= title
  div#contact-area
    label(for='website_address') Url:
    input(type='text',name='website_address',id='website_address')        
    input(type='submit',name='submit',value='Add').submit-button
  div#urls
    p 
      span(id='url_count') #{urls.length}
      span &nbsp;Urls&nbsp;monitored
    table
      thead
        tr
          th Url
          th Status
          th RT (ms)
          th 
      tbody
      